/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/09/2017, 19:35:14
    Author     : rfarias
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

main {
    flex: 1 0 auto;
}

.container-content {
    margin-top: 70px;
}

footer {
    height: 30px;
    text-align: center;
}

.img-produto {
    height: 100px;
    width: 100px;
}

.alg-left-btn {
    float: left;
}

@media screen and (max-width: 1280px) {
    .painel-produto {
        width: 50% !important;
        float: left;
        text-align: center;
    }
}

@media screen and (max-width: 630px) { 
    .painel-produto {
        width: 100% !important;
        text-align: center;
    }
}

.jumbotron {
    background-color: transparent !important; 
}

legend {
    border-bottom: 1px solid #000 !important;
}

.margin-div {
    margin-bottom: 30px;
}

div.jumbotron {
    padding-left: 0 !important;
}